<div class="alert alert-dismissible" 
     ng-class='alertClassProfile'
     role="alert" 
     ng-if='messageProfile'>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{ messageProfile }}
</div>

<update-city-state></update-city-state>

<div class='row'>
    <div class='col-xs-12'>
        <div class="jumbotron">
          <h1 class='text-center'>Hello, {{ $parent.currentUser().name }} <small ng-if='$parent.currentUser().city && $parent.currentUser().state'>{{ $parent.currentUser().city}}, {{$parent.currentUser().state }}</small></h1>
          <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group" role="group">
                  <button ng-disabled='$parent.currentUser().pendingRequestsFromUsers.length == 0' class="btn btn-primary" type="button"  data-toggle="modal" data-target="#pendingRequests">
                      Pending Requests <span class="badge">{{$parent.currentUser().pendingRequestsFromUsers.length}}</span>
                   </button>
               </div>
               <div class="btn-group" role="group">
                   <button ng-disabled='$parent.currentUser().pendingRequestsToUsers.length == 0' class="btn btn-info" type="button" data-toggle="modal" data-target="#proposedRequests">
                      Proposed Requests <span class="badge">{{$parent.currentUser().pendingRequestsToUsers.length}}</span>
                   </button>
               </div>
           </div>
        </div>
    </div>
</div>

<my-books-profile></my-books-profile>
<borrowed-books-profile></borrowed-books-profile>
<pending-request-modal></pending-request-modal>
<proposed-request-modal></proposed-request-modal>










